.recipeEdit{
    position:fixed;
    top:0;
    right:0;
    width: 50%;
    margin:0;
    padding:0;
    padding-left: 10px;
    height: 100%;
    overflow-y: auto;
   
}

.recipeEdit__label{
    font-weight: bold;
}

.recipeEdit__grid{
    display: grid;
    grid-template-columns: auto 1fr;
}



.recipeEdit__ingredients_grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin-right: 20px;
}


.recipeEdit__input{
font-size: 15px;
padding: 4px;
margin: 3px;
}

.textArea__input{
   height: 100px;
    resize:none;
    
}